* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#Title {
  font-size: 150px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0px;
}

#Is {
  position: absolute;
  left: 210px;
  color: red;
}

#Now {
  color: red;
}

.Sub {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 10px;
}

.Sub2 {
  font-size: 50px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  margin-top: 10px;
  length: 220px;
  margin-bottom: 40px;
}

.h1 {
  font-size: 35px;
  color: red;
  word-spacing: 5px;
  text-transform: uppercase;
}

.h2 {
  font-size: 35px;
  text-transform: uppercase;
}

.p {
  font-size: 17px;
  word-spacing: 7px;
  text-transform: uppercase;
  font-weight: bold;
}

#End {
  font-size: 14px;
  word-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  word-spacing: 5px;
  text-transform: uppercase;
}

.text {
  color: gray;
}

.SubTitle {
  font-size: 20px;
  word-spacing: 8px;
  text-transform: uppercase;
  font-weight: bold;
  Line-height: 0.4in;
}

.p2 {
  font-size: 30px;
  word-spacing: 7px;
  text-transform: uppercase;
  font-weight: bold;
}

.Extras {
  color: red;
  Font-size: 40px;
  text-transform: uppercase;
}

.TitleWrapper {
  display: flex;
  align-items: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}

#Images {
  width: 55px;
  height: 55px;
}

.leftside {
  width: 250px;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}